<form method="POST" action="/auth/local/login">
	<label>Email address
		<input type="email" id="username" name="username">
	</label>
	<label>Password
		<input type="password" id="password" name="password">
	</label>
	<input type="submit" value="Log in">
</form>
